
<div class="card border-dark mb-3 m-5">
    <div class="card-header text-center"><h2><b>NEW SNEAKER</b></h2></div>
    <div class="m-5">
        <div class="card-body text-dark">
            <form>
                <div class="form-group">
                  <label for="formGroupExampleInput">Nombre</label>
                  <input type="text" class="form-control mr-2" name="nombre" id="formGroupExampleInput" placeholder="Jordan 1 ..." required>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2" >Marca</label>
                    <!-- select brands  -->
                    <input type="text" name="marca" class="form-control" id="formGroupExampleInput2" placeholder="">
                  </div>
                  <div class="form-group">
                    <label for="formGroupExampleInput2">Stock</label>
                    <input type="number" name="stock" class="form-control" id="formGroupExampleInput2" value="1" required>
                  </div>
                  <div class="form-group">
                    <label for="formGroupExampleInput2">Precio</label>
                    <input type="number" name="precio" class="form-control" id="formGroupExampleInput2" placeholder="Precio € ..." required>
                  </div>
                  <!-- <div class="form-group">
                    <label for="formGroupExampleInput2">Imagen</label>
                    <input type="file" id="input_img" (input)="onInput($event)" accept="image/*">
                </div> -->
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-dark">Añadir Sneaker</button>

                </div>    
              </form>
    
        </div>
    </div>
  </div>
