<table class="table mt-4 mr-2" style="margin-bottom: 320px;">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Tipo</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Accion</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Sneaker</th>
        <td>Acciones para añadir nuevas sneakers</td>
        <td>        <a class="nav-link mx-auto btn btn-warning text-dark" href="http://localhost:4200/sneakers/new" ><b>NUEVA SNEAKER</b></a>

      </tr>
      <tr>
        <th scope="row">Brand</th>
        <td>Acciones para añadir nuevas marcas</td>
        <td>        <a class="nav-link mx-auto btn btn-warning text-dark" ><b>NUEVA MARCA</b></a>
        </tr>
      <tr>
        <th scope="row">Shop</th>
        <td>Acciones para añadir nuevas tiendas</td>
        <td>        <a class="nav-link  mx-auto btn btn-warning text-dark" ><b>NUEVA TIENDA</b></a>
        </tr>
      <tr>
        <th scope="row">Raffles</th>
        <td>Acciones para añadir nuevos sorteos</td>
        <td>        <a class="nav-link  mx-auto btn btn-warning text-dark" ><b>NUEVA SORTEO</b></a>
        </td>
      </tr>
    </tbody>
  </table>
