<div class="card m-1 bg-dark text-white" style="width: 18rem;">
    <img class="card-img-top back-white" src="../../../../../assets/jordan1.png" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title text-center">{{ sneaker.nombre }}</h5>
         <p class="card-text">{{ sneaker.marca }}</p>
        <p class="card-text">{{ sneaker.precio }} €</p>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
    </div>
</div>
