<!-- Material form register -->
<mdb-card class="w-50 mt-4" style="margin-left: 25%;margin-bottom: 12%;">

    <mdb-card-header class="bg-dark white-text text-center py-4">
      <h5>
        <strong>Registrate!</strong>
      </h5>
    </mdb-card-header>
  
    <!--Card content-->
    <mdb-card-body class="px-lg-5 pt-0">
  
      <!-- Form -->
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="text-center" style="color: #757575;">
        <!-- E-mail -->
        <div class="md-form mt-4">
          <input formControlName="email" type="email" id="materialRegisterFormEmail" class="form-control" mdbInput>
          <label for="materialRegisterFormEmail">E-mail</label>
        </div>
  
        <!-- Password -->
        <div class="md-form">
          <input formControlName="password" type="password" id="materialRegisterFormPassword" class="form-control" aria-describedby="materialRegisterFormPasswordHelpBlock"
            mdbInput>
          <label for="materialRegisterFormPassword">Password</label>
        </div>
  
        <!-- Newsletter -->
        <mdb-checkbox class="ml-0">Enviarme mensajes de nuevos sorteos!</mdb-checkbox>
  
        <!-- Sign up button -->
        <button mdbBtn color="dark" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0" mdbWavesEffect
          type="submit">Registrarse</button>
    
        <a type="button" class="light-blue-text mx-2">
          <mdb-icon fab icon="facebook"></mdb-icon>
        </a>
        <a type="button" class="light-blue-text mx-2">
          <mdb-icon fab icon="twitter"></mdb-icon>
        </a>
        <a type="button" class="light-blue-text mx-2">
          <mdb-icon fab icon="linkedin"></mdb-icon>
        </a>
        <a type="button" class="light-blue-text mx-2">
          <mdb-icon fab icon="heart"></mdb-icon>
        </a>
        <hr>
  
      </form>
      <!-- Form -->
  
    </mdb-card-body>
  
  </mdb-card>
  <!-- Material form register -->
