<div class="d-flex row-cols-3 mt-5">
    <div  *ngFor="let brand of brands">
        <!-- <mdb-card>
            <mdb-card-body>
                <mdb-card-title>
                    <h5>{{ brand.nombre }}</h5>
                    <h6 class="text-muted mb-2"> Unidades en venta : {{ brand.stockTotal }}</h6>
                </mdb-card-title>
                <mdb-card-text>
                    <p>Entra en la tienda para estar al dia de los ultimos raffles y nuevas sneakers en la tienda,
                        sorteos y mucho mas !</p>
                </mdb-card-text>
                <a href="{{ brand.link }}" class="card-link"> Visita la web!</a>
            </mdb-card-body>
        </mdb-card> -->
<mdb-card class="d-flex justify-content-center m-3">
    <mdb-card-body>
        <mdb-card-title class="text-center ">
            <h5>{{ brand.nombre }}</h5>
            <h6 class="t mb-2"> Unidades en venta : {{ brand.stockTotal }}</h6>
        </mdb-card-title>
        <mdb-card-text><p>Entra en la tienda para estar al dia de los ultimos raffles y nuevas sneakers en la tienda,
            sorteos y mucho mas !</p></mdb-card-text>
        <a class="" href="{{ brand.link }}" mdbBtn color="primary">Visita la web!</a>
    </mdb-card-body>
</mdb-card>
    </div>
</div>