<!-- Default form login -->
<form class="text-center border border-light p-5 w-50" style="margin-bottom: 10%;margin-left: 25%;">

    <p class="h4 mb-4">Inicio sesion</p>
  
    <!-- Email -->
    <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">
  
    <!-- Password -->
    <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">
  
    <div class="d-flex ml-0">
      <div class="mr-4">
        <!-- Remember me -->
        <mdb-checkbox [default]="true">Recordarme</mdb-checkbox>
      </div>
      <div>
        <!-- Forgot password -->
        <a href="">Has olvidado la contraseña?</a>
      </div>
    </div>
  
    <!-- Sign in button -->
    <div class="w-50 d-flex" style="margin-left: 20%;">
        <button mdbBtn color="dark" block="true" class="my-4" type="submit">Sign in</button>
    </div>  
    <!-- Register -->
    <p>No eres miembro?
      <a routerLink="register">Register</a>
    </p>  
    <a type="button" class="light-blue-text mx-2">
      <mdb-icon fab icon="facebook"></mdb-icon>
    </a>
    <a type="button" class="light-blue-text mx-2">
      <mdb-icon fab icon="twitter"></mdb-icon>
    </a>
    <a type="button" class="light-blue-text mx-2">
      <mdb-icon fab icon="linkedin"></mdb-icon>
    </a>
    <a type="button" class="light-blue-text mx-2">
      <mdb-icon fab icon="github"></mdb-icon>
    </a>
  
  </form>