<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <div class="fadeIn first">
            <h4 class="m-3">Login</h4>
        </div>
        <form>
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="User">
            <input type="text" id="password" class="fadeIn third" name="login" placeholder="Password">
            <input type="submit" routerLink="dashboard" class="m-2 btn btn-dark bg-dark" value="Entrar">
        </form>
        <div class="m-3" id="formFooter">
            <a class="underlineHover" href="#">Recuperar contraseña??</a>
        </div>

    </div>
</div>