
<nav class="fixed-top navbar navbar-expand-lg navbar-dark bg-dark degradar">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item mt-1 ml-5 mr-2 mb-2 active">
                <a class="nav-link" routerLink="">Home</a>
            </li>
            <li class="nav-item mt-1 mr-2 active">
                <a class="nav-link" routerLink="sneakers">Sneakers</a>
            </li>
            <li class="nav-item mt-1 mr-2 active">
                <a class="nav-link" routerLink="brands">Brands</a>
            </li>
            <a routerLink="sneakers" class="d-none d-lg-block ml-5 mt-1 mb-1 mr-5"><img class="logo" src="../../../assets/logo.png"></a>
            <li class="nav-item mt-1 mr-2 active">
                <a class="nav-link ">Raffles</a>
            </li>
            <li class="nav-item mt-1 mr-0 active">
                <a class="nav-link ">Shops</a>
            </li>
            
        </ul>
    </div>
    <ul class="navbar-nav mr-auto mx-auto">
    <li class="nav-item mr-2 active">
        <a class="nav-link ">Contacto</a>
    </li>
    </ul>
    <ul class="navbar-nav mr-auto mx-auto">
        <li class="nav-item mt-1 active" *ngIf="signed!=true">
            <button class="ml-1 mt-1 mb-3 mr-0" type="button" mdbBtn color="light" mdbWavesEffect routerLink="login" style="border-radius: 25px;">LOGIN </button>
        </li>
        <li class="nav-item mt-1 active mr-auto mx-auto" *ngIf="signed && nameUser!=null">
            <a class="nav-link ml-1 mt-2 mb-3 mr-0 text-warning">{{ nameUser }}</a>

        </li>
        <li class="nav-item mt-1 active" *ngIf="signed">
            <button class="ml-1 mt-1 mb-3 mr-0" mdbBtn type="button" color="danger" rounded="true" outline="true" mdbWavesEffect>Log out </button>
        </li>
    </ul>
</nav>