<div class="card border-dark mb-3 m-5">
    <div class="card-header text-center"><h2><b>Edit SNEAKER</b></h2></div>
    <div class="m-5">
        <div class="card-body text-dark">
            <form>
                <div class="form-group">
                  <label for="formGroupExampleInput">Nombre</label>
                  <input type="text" class="form-control mr-2" id="formGroupExampleInput">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">Marca</label>
                    <!-- select brands  -->
                    <input type="text" class="form-control" id="formGroupExampleInput2">
                  </div>
                  <div class="form-group">
                    <label for="formGroupExampleInput2">Stock</label>
                    <input type="number" class="form-control" id="formGroupExampleInput2">
                  </div>
                  <div class="form-group">
                    <label for="formGroupExampleInput2">Precio</label>
                    <input type="number" class="form-control" id="formGroupExampleInput2">
                  </div>
                  <!-- <div class="form-group">
                    <label for="formGroupExampleInput2">Imagen</label>
                    <input type="file" id="input_img" (input)="onInput($event)" accept="image/*">
                </div> -->
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-dark">Actualizar Sneaker</button>

                </div>    
              </form>
    
        </div>
    </div>
  </div>
