<!-- <div class="card m-4 margin d-flex shadow">
    <div class="w-50 ml-auto p-2 bg-dark text-white">
    <h3 class="display-2 text-center p-2 mt-4">{{ sneaker.nombre}}</h3>
    </div>
    <div class="d-flex flex-row h-100">
        <div class="back-white w-50 d-flex"> 
            <img class="card-img-top back-white" src=" ../../../../../assets/jordan1.png" alt="Card image cap">
        </div>
        <div class="card-body w-50 bg-dark text-white d-flex flex-column">
          <h4 class="card-text">Marca : {{ sneaker.marca}}</h4>
          <h4 class="card-text">Stock : {{ sneaker.stock}} Unidades</h4>
            <h4 class="card-text">Precio : {{ sneaker.precio}} €</h4>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          <div class="mt-auto p-2 align-self-center">
            <button class="nav-link ml-2 mt-1 mb-3 mr-0 btn btn-warning text-dark" href="https://www.sivasdescalzo.com/es"><b>APUNTARSE AL RAFFLE</b></button>
        </div>
        </div>
        
    </div>
  </div> -->
<div class="d-flex justify-content-center">
  <mdb-card cascade="true" wider="true" reverse="true" class="my-4 w-75 degradar">
  <!--Card image-->
  <div class="view-cascade overlay waves-light w-50 align-self-center" mdbWavesEffect>
    <mdb-card-img src="{{ sneaker.img }}"></mdb-card-img>
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>
  <!--/Card image-->

  <!-- Card content -->
      <mdb-card-body cascade="" class="text-center">
        <!--Card content-->
        <h4 class="card-title">
          <strong class="">{{ sneaker.nombre }}</strong>
        </h4>
        <h5 class="display-5">{{ sneaker.marca }}</h5>
        <strong>
          <h5><b class="display-6 text-success">{{ sneaker.precio }} </b> <i size="lg" class="fas fa-dollar-sign text-success"></i> </h5>
        </strong>
        <mdb-card-text class="text-dark " *ngIf="sneaker.marca=='Jordan'">
          Si tenemos que pensar en zapatillas legendarias, seguro que las Air Jordan son de las primeras que mencionamos ademas
          la cultura que han creado
        </mdb-card-text>
        <mdb-card-text class="text-dark" *ngIf="sneaker.marca=='Adidas'">
          Sneaker de Adidas, comodo y fiable para poder combinar con los diferentes outfits
        </mdb-card-text>
        <mdb-card-text class="text-dark " *ngIf="sneaker.marca=='Nike'">
          Zapatillas de la famosa marca Nike, zapatillas de muy buena calidad a increibles precios!
        </mdb-card-text>
        <!--Twitter-->
        <a type="button" mdbBtn floating="true" size="sm" color="tw" class="waves-light" mdbWavesEffect>
          <mdb-icon fab icon="twitter"></mdb-icon>
        </a>
        <!--Google +-->
        <a type="button" mdbBtn floating="true" size="sm" color="dribbble" class="waves-light" mdbWavesEffect>
          <mdb-icon fab icon="dribbble"></mdb-icon>
        </a>
      
      </mdb-card-body>

</mdb-card></div>

  