.margin{
    margin-bottom: 400px  !important;
}
img{
    width: 800px;
    height: 600px;
}
.back-white{
    background-color: white ;
}
.degradar {
    // hsl(210deg 10% 23%)!important
    background-image: linear-gradient(180deg,hsl(210deg 10% 23%)1%,white ) !important;
}